# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing/Diagnostics
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific caches
.questrade.json
